<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>
<body>
<form action="/add" method="post">
    <div>
        <label for="idCN">身份证号：</label>
        <input type="text" name="idCN" id="idCN">
    </div>
    <div>
        <label for="name">姓名：</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label>性别：
            <input type="radio" name="gender" value="男" id="gender-man">男
            <input type="radio" name="gender" value="女" id="gender-woman">女
        </label>
    </div>
    <div>
        <label for="birthday">出生日期：</label>
        <input type="date" name="birthday" id="birthday">
    </div>
    <div>
        <label>地址：
            <input type="text" name="province" id="province">省
            <input type="text" name="city" id="city">市
            <input type="text" name="county" id="county">县/区
        </label>
    </div>
    <div>
        <label for="address">详细地址：</label>
        <input type="text" name="address" id="address">
    </div>
    <div>
        <label for="phone">手机号：</label>
        <input type="tel" name="phone" id="phone">
    </div>
    <div>
        <input type="submit" value="添加">
    </div>
    <span><strong th:text="${message}"></strong></span>
</form>
</body>
</html>